<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.firstapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.firstapp.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.firstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.firstapp.MainActivity" />
        </activity>

        <activity
            android:name="com.example.firstapp.Login"
            android:label="@string/title_activity_login" >

        </activity>
        <activity android:name="com.facebook.LoginActivity"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <activity
            android:name="com.example.firstapp.Gps"
            android:label="@string/title_activity_gps" >
        </activity>
        <activity
            android:name="com.example.firstapp.NewsFeed"
            android:label="@string/title_activity_news_feed" >
        </activity>
        <activity
            android:name="com.example.firstapp.Camera"
            android:label="@string/title_activity_camera" >
        </activity>
    </application>

</manifest>
